PORT=3000
NODE_ENV=production
DATABASE_URL=postgresql://usuario:senha@host:5432/nome_do_banco?sslmode=require
JWT_SECRET=troque_esta_chave
JWT_EXPIRES_IN=1d
DB_SSL=true
DB_SYNC_ALTER=false
PGADMIN_DEFAULT_EMAIL=admin@local.test
PGADMIN_DEFAULT_PASSWORD=troque_esta_senha
